@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Charmonman", cursive;
}
.charmonman-regular {
    font-family: "Charmonman", cursive;
    font-weight: 400;
    font-style: italic;
}
  
.charmonman-bold {
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style:italic;
}
  
body{
    height:100vh;
    background-image:url("./images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card{
    width: 90%;
    max-width: 470px;
    background: rgba(150, 224, 253, 0.349);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color:#ffffff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 100%;
    outline: 0;
    background: #ffffff;
    border-color: rgba(255, 255, 255, 0.747);
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
    font-weight: bold;
}
.search button{
    border: 100%;
    outline: 0;
    background: #ffffff;
    border-color: rgba(255, 255, 255, 0.747);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    margin-top: 10px;
    width: 18px;
}
.weather-icon{
    width:170px;
    margin: 0;
}
.weather h1{
    font-size: 50px;
    margin: 0;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px;
}
.col{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.col img{
    width: 60px;
    height: fit-content;
    margin-right: 10px;
    margin-top: 20px;
    padding: 0 10px;
}
.humidity, .wind{
    font-size: 28px;
}
.weather{
    display: none;
}
.error{
    margin-top: 15px;
    font-size: 18px;
    display: none;
}